<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <permission android:name="com.khuongnd.dexkids.permission.CONTROL"
        android:protectionLevel="signature"/>
    <application android:allowBackup="false" android:label="DeX Kids Adventure"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity android:name=".KidsActivity" android:exported="false"
            android:screenOrientation="landscape" android:resizeableActivity="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|uiMode"/>
        <receiver android:name=".KidsCommandReceiver" android:exported="true"
            android:permission="com.khuongnd.dexkids.permission.CONTROL">
            <intent-filter>
                <action android:name="com.khuongnd.dexkids.action.KIDS_STOP"/>
            </intent-filter>
        </receiver>
        <activity android:name=".ParentActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
